<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover" />

  <!-- Magic runtime primitive -->
  <script>!(function(w,n,r){w[n]={i:[],j:[],u:false,ready:function(c,s){(w[n].u)?w[r](function(c,s,w,n){w[n].ready.call(c,s)}.bind(this,c,s,w,n)):w[n].i.push({callback:c,scope:s})}.bind(this),moduleReady:function(c,s,w,n){(w[n].u)?w[r](function(c,s){w[n].moduleReady(c,s)}.bind(this,c,s,w,n)):w[n].j.push({callback:c,scope:s})}.bind(this)}}(window,window.__GRN='OAAGG_'+(new Date()).getMonth()+(new Date()).getDate()+(new Date()).getYear(),'requestAnimationFrame'))</script>

  <!-- Async JS -->
  <script async defer src="{{ site.baseurl }}/js/cache/ASL.js"></script>
  <script async defer src="{{ site.baseurl }}/js/cache/Core.js"></script>
  <script async defer src="{{ site.baseurl }}/js/cache/Debug.js"></script>
  <script async defer src="{{ site.baseurl }}/js/cache/Leaderboard.js"></script>
  <script async defer src="{{ site.baseurl }}/js/cache/OpenID.js"></script>
  <script async defer src="{{ site.baseurl }}/js/cache/SteamAuth.js"></script>
  <script async defer src="{{ site.baseurl }}/js/cache/Utilities.js"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <!- Render CSS ->
  <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet" />

  <meta name="description" content="{{ site.description }}">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon.png" />
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />

  <link rel="manifest" href="{{ site.baseurl }}/webAppManifest.json"/>

  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
  <meta property="og:title" content="{{ page.title }}" />
  {% if page.description %}
    <meta property="og:description" content="{{ page.description }}" />
  {% else %}
    <meta property="og:description" content="{{ site.description }}" />
  {% endif %}

  {% if page.image %}
    <meta property="og:image" content="{{ page.image }}" />
  {% endif %}

  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}{% if page.subtitle %}{{ page.subtitle }}{% endif %}</title>
</head>
