.responsiveVideoContainer {
  position:      relative;
  width:         100%;
  max-width:     800px;
  margin-left:   auto;
  margin-right:  auto;
  margin-bottom: 20px;
  display:       block;

  &::after {
    content:     "";
    position:    static;
    box-sizing:  border-box;
    width:       100%;
    display:     block;
    padding-top: 56.25%;
  }
  embed,
  iframe,
  object,
  video {
    position:   absolute;
    top:        0;
    left:       0;
    width:      1px;
    height:     1px;
    min-width:  100%;
    min-height: 100%;
    margin:     0;
    padding:    0;
    border:     0;
  }
}
