body {
  & > main {
    &.leaderboardLoaded {
      .leaderboardLoader {
        opacity: 0;
      }
    }
    #OAALeaderboard {
      width:           100%;
      max-width:       400px;
      margin:          0 auto;
      border-collapse: collapse;
      font-family:     'Roboto', sans-serif;

      thead {
        th {
          position:   sticky;
          top:        39px;
          background: #222222;
          border:     1px solid rgba(255, 255, 255, .7);
          padding:    5px;

          &::after {
            content:       '';
            position:      absolute;
            top:           -1px;
            left:          -1px;
            right:         -1px;
            bottom:        -1px;
            z-index:       -1;
            border-bottom: 1px solid rgba(255, 255, 255, .6);
          }
        }
      }
      tbody {
        tr {
          border-top: 1px solid rgba(255, 255, 255, .3);

          &:last-child {
            border-bottom: 1px solid rgba(255, 255, 255, .7);
          }
          &:first-child {
            td {
              padding-top: 8px;
            }
          }
          td {
            padding: 6px 11px 5px;

            &:first-child,
            &:last-child {
              text-align: center;
            }
            &:first-child {
              border-left:  1px solid rgba(255, 255, 255, .8);
              border-right: 1px solid rgba(255, 255, 255, .5);
            }
            &:last-child {
              border-left:  1px solid rgba(255, 255, 255, .5);
              border-right: 1px solid rgba(255, 255, 255, .8);
            }
          }
        }
      }

      @media screen and (min-width: 400px) {
        border: 1px solid rgba(255, 255, 255, .8);
      }
      @media screen and (min-width: $mobileDeviceBreakpoint) {
        font-size: 1.3rem;
        max-width: 500px;
      }
    }
    .leaderboardLoader {
      position:       absolute;
      top:            100px;
      left:           50%;
      pointer-events: none;
      width:          80px;
      height:         80px;

      @extend %transitionable;

      @include transform(translate(-50%));
    }
  }
}
