// Set main sizing, relative scaling for text, a nice font, general color basis and box model
html {
  // Fix several browsers not sizing things correctly and IOS not scrolling AT ALL CORRECTLY
  min-height: 100%;
  overflow:   auto !important;
  overflow-x: hidden !important;
}

body, html {
  min-height:                 100%;
  font-size:                  12px;
  font-family:                "Georgia", "sans-serif";
  line-height:                1.3em;
  width:                      100%;
  min-width:                  100%;
  max-width:                  100%;
  margin:                     0;
  padding:                    0;
  top:                        0 !important;
  box-sizing:                 border-box;
  -webkit-overflow-scrolling: touch;

  @extend %flexBox;

  @include flex-grow(1);
  @include flex-shrink(1);
  @include flex-basis(auto);
  @include flex-direction(column);
}

* {
  &,
  &::after,
  &::before {
    // NEVER use the above except when setting inheriting box sizing...it does bad things otherwise
    box-sizing: inherit;
  }
}

#body {
  color:            #FFFFFF;
  background-color: #222222;
}

body {
  // Nav should not grow or shrink
  & > nav {
    background:    #375A7F;
    color:         #FFFFFF;
    border-radius: 0;
    padding:       0 10px;
    margin-bottom: 15px;
    position:      relative;
    position:      sticky;
    top:           0;
    z-index:       100;
    font-family:   'Roboto', sans-serif; // TODO: Make this a variable so font usage is consistent

    @extend %flexBox;

    @include flex-grow(0);
    @include flex-shrink(0);
    @include flex-basis(auto);
    @include justify-content(space-between);

    .navLinks {
      @extend %flexBox;
    }
    a {
      margin:      0;
      padding:     9px 13px;
      color:       #FFFFFF;
      background:  rgba(0, 0, 0, 0);
      line-height: 1em;

      @extend %transitionable;
      @extend %flexBox;

      @include align-items(center);

      &,
      &:link,
      &:active {
        text-decoration: none;
      }

      &:hover {
        color:      #00BC8C;
        background: rgba(0, 0, 0, .2);
      }
    }
    .steamAuth {
      position: relative;

      &:not(.loading),
      &:not(.loaded) {
        .steamLoader {
          opacity:        0;
          pointer-events: none;
        }
      }
      &.loading {
        #steamAuth,
        .steamProfile {
          opacity:        0;
          pointer-events: none;
        }
      }
      &.loaded {
        #steamAuth {
          opacity:        0;
          pointer-events: none;
        }
      }
      &.authenticated {
        .steamLoader,
        #steamAuth {
          opacity:        0;
          pointer-events: none;
        }
        #steamProfile {
          pointer-events: all;
        }
      }

      & > * {
        @extend %transitionable;
      }

      .OAADownloadLink {
        text-align:  center;
        line-height: 1.4em;
        padding:     2px;
        height:      100%;

        @extend %flexBox;

        @include justify-content(center);
        @include align-items(center);
      }
      .steamLoader {
        position: absolute;
        width:    100%;
        height:   100%;

        @extend %flexBox;

        @include justify-content(center);
        @include align-items(center);
      }
      #steamProfile {
        position:       absolute;
        top:            0;
        left:           0;
        right:          0;
        bottom:         0;
        pointer-events: none;

        @extend %flexBox;

        @include flex-direction(column);

        &:hover {
          .OAARankedMMR {
            opacity:        1;
            pointer-events: all;
          }
        }

        .SteamUserName {
          text-align:  center;
          font-weight: bold;
          font-size:   1.1rem;
          padding:     2px;
        }
        .OAARankedMMR {
          position:       absolute;
          top:            100%;
          right:          0;
          opacity:        0;
          pointer-events: none;
          transition:     .3s ease-out;
          min-width:      100%;
          margin-top:     7px;
          background:     #375A7F;
          padding:        3px 2px;
          line-height:    1em;
          border-radius:  3px;

          &::before {
            content: 'Ranked: ';
          }
          &::after {
            content:    '';
            background: inherit;
            bottom:     100%;
            left:       50%;
            border:     4px solid #375A7F;
            width:      12px;
            height:     12px;
            position:   absolute;
            z-index:    -1;

            @include transform(translate(-50%, 6px) rotate(45deg));
          }
        }
        .OAAMMRValues {
          text-align: center;
          margin-top: auto;

          @extend %flexBox;

          @include justify-content(center);
          @include align-items(center);
        }
        .OAAUnrankedMMR {
          padding: 1px 2px;

          &::before {
            content: 'Unranked: ';
          }
        }
      }
      #steamAuth {
        background: transparent;
        color:      #FFFFFF;
        border:     0;
        cursor:     pointer;
        padding:    7px 11px;
        position:   relative;
        z-index:    10;

        @extend %flexBox;

        @include align-items(center);

        &:hover {
          color:      #00BC8C;
          background: rgba(0, 0, 0, .2);
        }
        svg {
          width:        2em;
          height:       2em;
          margin-right: .4em;
        }
      }
    }
  }

  // Body should grow to meet the natural page size
  & > main {
    width:       100%;
    max-width:   1120px;
    margin:      0 auto;
    font-family: "Lato", serif;

    @include flex-grow(1);
    @include flex-shrink(0);
    @include flex-basis(auto);

    // More items will need to be styled likely, but this is all for now
    p {
      max-width:    820px;
      margin-left:  auto;
      margin-right: auto;
      padding:      0 10px;
      font-size:    1.2rem;
      line-height:  1.3em;
    }
    a {
      color: #00BC8C;
    }
    ul,
    ol {
      max-width:    820px;
      margin-left:  auto;
      margin-right: auto;
      padding:      0 10px 0 30px;

      li {
        & + li {
          margin-top: 8px;
        }
      }
    }

    @media screen and (max-width: $mobileDeviceBreakpoint) {
      line-height: 1.35em;
    }
  }

  // Footer should not grow
  & > footer {
    background:  rgba(0, 0, 0, .6);
    margin-top:  10px;
    padding:     10px 10px;
    font-family: 'Roboto', sans-serif;

    @include flex-grow(0);
    @include flex-shrink(0);
    @include flex-basis(auto);
  }
}
